* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
header {
  box-shadow: 0px 1px 20px rgba(139, 139, 139, 0.65);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav-link {
  color: #777;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1rem;
}

.banner {
  background-image: url("../img/banner.png");
  height: 235px;
  min-width: 780px;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

/* .banner {
  background-image: url("../img/banner.png");
  height: 235px;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
} */

#estilo div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#estilo div img {
  margin: 0 27px;
  padding: 27px;
  background-size: cover;
}

#estilo h1 {
  font-weight: 800;
  text-transform: lowercase;
  font-size: 60px;
  text-align: center;
  margin: 68px 0;
}
#estilo {
  margin-bottom: 207px;
}

#descontos {
  background-color: #c2185b;
}

#descontos h1 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 44px;
  text-align: center;
  color: white;
  padding: 60px 0;
  margin: 0;
}

#descontos .descontos-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0 100px;
}

.contato {
  display: flex;
  padding: 0 2rem;
  flex-wrap: wrap;
}

.contact-heading {
  font-size: 40px;
  font-weight: 600;
  color: #575757;
  padding-left: 2rem;
}
.contato form,
article {
  flex: 1;
}



form {
  display: flex;
  flex-direction: column;
  margin-right: 2.1rem;
  color: #9b9b9b;
}

input,
select {
  margin-bottom: 1.1rem;
  padding: 0.3125rem 0.625rem;
  border: 1px solid #9b9b9b;
}

label {
  font-size: 1, 125;
  margin-bottom: 0.3125rem;
}

input[type="file"] {
  display: none;
}

.carregar-curriculo {
  width: 118px;
  padding: 4px 10px;
  background-color: #c4c4c4;
  color: #fff;
  text-transform: lowercase;
  text-align: center;
  cursor: pointer;
}

div .upload-arquivo {
  display: flex;
  align-items: center;
  padding-top: 22px;
}
div .carregar-curriculo {
  margin-left: 20px;
}

div .disponibilidade {
}

.options {
  display: flex;
  padding-bottom: 10px;
  /* justify-content: space-between; */
}

.options div {
  /* margin-right: 50px; */
  flex: 1;
}

.enviar-form {
  background-color: #c2185b;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 5px 0;
  margin-top: 22px;
  border: none;
}

@media (max-width: 736px) {
  .contato form,
article {
  flex-grow: 1;
  flex-shrink: 0;
}
  .contato form {
    order: 1;
  }

  .contato article {
    order: 0;
  }
}


.footer {
  background-color: #c2185b;
  color: #fff;
  padding: 10px 20px 30px;
  margin-top: 25px;

}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer .container div:first-of-type {
  width: 30%;
}

.categorias,
.institucional {
  display: flex;
  flex-direction: column;
}


#banner-frete-gratis{
  background-color: #c2185b;
  width: 100%;

}
.banner-frete-gratis{
display: flex;
justify-content: center;
align-items: center;
color: #fff;
text-transform: uppercase;
}